<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <agm-map [latitude]="location.latitude" [longitude]="location.longitude">
    <agm-marker
      *ngFor="let item of dataApp.data"
      [latitude]=   "item.geometry.coordinates[1]"
      [longitude]=  "item.geometry.coordinates[0]"
      (markerClick)="changeCurrentSite(item)"
    >
      <agm-snazzy-info-window maxWidth="400" maxHeight="200" [closeWhenOthersOpen]="true" max>
        <ng-template>
          <h3 *ngIf="item.fields.nom_du_site">
            {{item.fields.nom_du_site}}
        </h3>

        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>

  <div class="block">
    <app-site-see [site]="currentSite" *ngIf="currentSite"></app-site-see>
  </div>
</div>
<router-outlet>
</router-outlet>
